/* ===========
   基本默认值
   =========== */
html{
	font-size: 100px;
}
body{
	font-family: 'PingFangSC-Regular',"微软雅黑","Hiragino Sans GB","STHeiti",Arial;
	width: 100%;
	overflow-x: auto;
	/* font-size: 62.5%; */
	font-size: 16px;
	/* 0.1rem = 10px  */
}

/* 文字选中样式 */
::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

/* ===========
   工具样式
   =========== */
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden; 
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ===========
   浏览器更新提示
   =========== */

.browerupgrade {
    margin: 0;
    padding: 0.1rem;
    background: #ccc;
}

/* ===========
   自定义页面样式
   =========== */

body {
	/* 12px = 0.12rem */
	font-size: 0.12rem;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    line-height: 1.5;
    /* background-color: #f7f7f7; */
}

a {
    color: #666;
    text-decoration: none;
}
@media screen and (max-width: 70em){	
	html{
		font-size: 90px;
	}
}
@media screen and (max-width: 48em){
	html{
		font-size: 80px;
	}
}
@media screen and (max-width: 26.5625em){
	html{
		font-size: 70px;
	}
}

/* 网站头部 */
header{
	width: 100%;
	height: 0.7rem;
    /* position: fixed;
    top: 0;
    z-index: 10; */
}
header .container{
	width: 11.2rem;
	margin: 0 auto;
}
header .container h1{
	width: 2.16rem;
	height: 0.7rem;
	line-height: 0.7rem;
}
header .container h1 a{
	color: blue;
	text-decoration: none;
	font-size: 0.16rem;
	font-family: 'ArialRoundedMTBold';
	position: relative;
	padding-left: 40px;
}
header .container h1 img{
	width: 0.96rem;
	height: 0.28rem;
	position: absolute;
	left: 0;
	top: -0.04rem;
}
header .container .menu{
	display: none;
	width: 0.8rem;
    height: 0.7rem;
	background: url('../img/menu.png') no-repeat center;
	background-size: 0.28rem;
	cursor: pointer;
}
header .container .nav-wrap{
	position: relative;
}
header .container .nav-wrap li{
	float: left;
	padding: 0 0.2rem;
}
header .container .nav-wrap li.active a,
header .container .nav-wrap li:hover a{
	opacity: 1;
}
header .container .nav-wrap a{
	font-family: 'PingFangSC-Regular';
	color: #000;
	opacity: 0.5;
	display: inline-block;
	text-align: center;
	line-height: 0.7rem;
	font-size: 0.14rem;
	white-space: nowrap;
}
@media screen and (max-width: 70em){   /* 1120px */
	header .container{
		width: 100%;
	}
	header .container h1{
		margin-left: 0.2rem;
	}
}
@media screen and (max-width: 48em){   /* 768px */
	header .container .menu{
		display: block;
	}
	header .container .nav-wrap .nav{
		position: absolute;
		display: none;
		right: 0.1rem;
		top: 0.7rem;
		background: rgba(255, 255, 255, 0.8);
		z-index: 99;
		box-shadow: 0 1px 4px 0px rgba(255,255,255,0.4);
	}
	header .container .nav-wrap li + li a{
		border-top: 1px solid rgba(20, 175, 241, 0.6);
	}
	header .container .nav-wrap li{
		width: 100%;
		box-sizing: border-box;
		text-align: center;
	}
	header .container .nav-wrap li a{
		opacity: 1;
		height: inherit;
		display: block;
		width: 100%;
		line-height: 0.6rem;
	}
}
@media screen and (max-width: 26.5625em){
	header .container .nav-wrap li a{
		line-height: 0.5rem;
	}
}

/* footer */
footer{
	width: 100%;
	background: #2c2c2e;
	color: #fff;
	padding: 0.50rem 0;
}
footer .footer{
	max-width: 11.20rem;
	margin: 0 auto;
}
footer .footer .container{
	border-bottom: 1px solid #fff;
	padding-bottom: 0.3rem;
}
footer .footer .container h4{
	font-size: 0.18rem;
}
footer .footer .container .footer-img{
	margin-top: 1.2rem;
}
footer .footer .container .footer-img li{
	float: left;
	margin-right: 0.1rem;
}
footer .footer .container dl{
	float: left;
	margin-left: 1rem;
	font-size: 0.12rem;
	line-height: 0.26rem;
}
footer .footer .container dl dt{
	font-size: 0.14rem;
}
footer .footer .container dl a{
	color: #fff;
}
footer .footer .tips{
	line-height: 0.26rem;
	font-size: 0.12rem;
	padding: 0.2rem 0 0;
}
footer .footer .tips span + span{
	float: right;
}
footer .footer .tips span + span a{
	color: #fff;
	display: inline-block;
}
footer .footer .tips span + span i{
	display: inline-block;
	margin-right: 0.1rem;
}
@media screen and (max-width: 70em){	
	footer .footer{
		padding: 0 0.2rem;
	}
}
@media screen and (max-width: 48em){
	footer .footer .introduce li h3{
		font-size: .8rem;
	}
	footer .footer .tips span + span{
		float: left;
	}
}
@media screen and (max-width: 26.5625em){
	footer .footer .container div{
		width: 100%;
	}
	footer .footer .container h4{
		float: left;
	}
	footer .footer .container .footer-img{
		float: right;
		margin: 0;
	}
	footer .footer .container dl{
		margin: 0.3rem 0.5rem 0 0;
	}
}
/* float */
.floating-wrap{
    position: fixed;
    right: 0.3rem;
    top: 50%;
    margin-top: -0.79rem;
    z-index: 98;
}
.floating-wrap li{
    width: 0.52rem;
    height: 0.52rem;
    background-color: rgba(204,204,204,0.75);
    text-align: center;
    line-height: 0.52rem;
    color: #fff;
    cursor: pointer;
    position: relative;
}
.floating-wrap li .tips{
	position: absolute;
	top: 0;
    right: 0.65rem;
    background: #fff;
    color: #404040;
    padding: 0.18rem 0.2rem;
    border-radius: 0.05rem;
    white-space: nowrap;
	font-size: 0.14rem;
	box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
    display: none;
}
.floating-wrap li:hover .tips{
    display: block;
}
.floating-wrap li .tips::after{
    content: '';
    position: absolute;
    right: -0.1rem;
    top: 50%;
    margin-top: -0.09rem;
    width: 0;
    height: 0;
    border-left: 0.1rem solid #fff;
    border-top: 0.1rem solid transparent;
    border-bottom: 0.1rem solid transparent;
}
.floating-wrap li + li{
    margin-top: 1px;
}
.floating-wrap li img{
    display: inline-block;
	vertical-align: middle;
	width: 0.36rem;
}
.floating-wrap li.float-qq img{
	width: 0.32rem;
}
.floating-wrap li.float-gotop{
    display: none;
    background-color: rgba(166, 166, 166, 0.75);;
}
.floating-wrap li p{
	font-size: 0.12rem;
    line-height: 0.17rem;
    display: inline-block;
    vertical-align: middle;
}